---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 01420f7f5caae8c074a522b7cac95b54
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-ce55,haproxy-edge-iad-aovy
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T01C37A2BAP","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T01C37A2BAP"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U01BN903TU7","team_id":"T01C37A2BAP","name":"anna.kim93","deleted":false,"color":"4bbe2e","real_name":"Anna
        Kim","tz":"America\/New_York","tz_label":"Eastern Daylight Time","tz_offset":-14400,"profile":{"title":"","phone":"","skype":"","real_name":"Anna
        Kim","real_name_normalized":"Anna Kim","display_name":"Anna Kim","display_name_normalized":"Anna
        Kim","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"a203b1bd15bb","image_original":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_original.jpg","is_custom_image":true,"image_24":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_192.jpg","image_512":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_512.jpg","image_1024":"https:\/\/avatars.slack-edge.com\/2020-10-06\/1434891540032_a203b1bd15bb3f14de6a_1024.jpg","status_text_canonical":"","team":"T01C37A2BAP"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1602015284,"has_2fa":false},{"id":"U01BWA0F1HU","team_id":"T01C37A2BAP","name":"c14_ida_api_project","deleted":false,"color":"3c989f","real_name":"C14
        - Ida - API Project","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight
        Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"C14
        - Ida - API Project","real_name_normalized":"C14 - Ida - API Project","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g49c0e26fbc0","api_app_id":"A01C37SFXEX","always_active":false,"bot_id":"B01BN9RATAB","image_24":"https:\/\/secure.gravatar.com\/avatar\/49c0e26fbc009f1477edb016e33c0538.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/49c0e26fbc009f1477edb016e33c0538.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/49c0e26fbc009f1477edb016e33c0538.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatar[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 7b255da3718af722e7f700add2d87ed1
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-n4uf,haproxy-edge-iad-rwys
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BW93UN8N","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1602015082,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C95Y5RUL","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C37A2BAP"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"super
        random!","creator":"U01BN903TU7","last_set":1602021102},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C95Y5RUL","last_set":1602015082},"previous_names":[],"num_members":4},{"id":"C01C37A2T1R","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1602015081,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01C95Y5RUL","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C37A2BAP"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"very
       [...]
